body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif, Georgia, 'Times New Roman', Times, serif
}
.sMediaIcons {
    margin-top: -5%;
}
.yTube {
    margin-bottom: 1.7%;
}
.w3-row-padding img {
    margin-bottom: 12px
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

.letsConnect {
  font-size: 20px;
  margin-bottom: 0%;
}

.bgimg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/assets/images/imgLeft1.JPG');
    min-height: 100%;
    filter: grayscale(90%);
}

.title {
    font-size: 30px;
}

.a2 {
    filter: grayscale(90%);
  }
